## For Local machine or development
VITE_API_URL=http://localhost:8000
## For docker's container
#VITE_API_URL=http://backend:8000
## For Production Server or VM
#VITE_API_URL=https://api.yourdomain.com
