OPENAI_API_KEY="sk-proj-"
SECRET_KEY = "supersecret"
ALGORITHM = "HS256"
## --- For Docker Testing (docker-compose up): ----
DATABASE_URL=postgresql://postgres:password@db:5432/cars
REDIS_HOST=host.docker.internal
REDIS_PORT=6379

## ---- For Local Testing (Outside Docker): -----
#DATABASE_URL=postgresql://postgres:password@localhost:5432/cars
#REDIS_HOST=localhost
